<div class="row">
  <div class="alert alert-danger alert-dismissible"
   *ngFor="let err of model.non_field_errors">
    <button type="button" class="close" (click)="clearErrors()">
      <span>&times;</span>
    </button>
    {{err}}
  </div>
  <div class="col-md-4">
    <form class="form" #form="ngForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" name="username" type="text"
         [(ngModel)]="model.username">
        <div *ngIf="model.username_errors">
          <p *ngFor="let err of model.username_errors">{{err}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" name="password" type="password"
         [(ngModel)]="model.password">
        <div *ngIf="model.password_errors">
          <p *ngFor="let err of model.password_errors">{{err}}</p>
        </div>
      </div>
    <button class="btn btn-default" (click)="login(); false;">Login</button>
    </form>
</div>
