<nav class="navbar navbar-default" *ngIf="authService.isLoggedIn()">
  <ul class="nav navbar-nav">
    <li [routerLink]="['/dashboard']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a>DASHBOARD</a></li>
    <li [routerLink]="['/domains']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a>DOMAINS</a></li>
  </ul>
</nav>

<nav class="navbar navbar-default" *ngIf="!authService.isLoggedIn()">
  <ul class="nav navbar-nav">
    <li [routerLink]="['/login']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a>LOGIN</a></li>
    <li [routerLink]="['/register']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a>REGISTER</a></li>
  </ul>
</nav>
