<div *ngIf="error">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" (click)="clearErrors()">
      <span>&times;</span>
    </button>
    {{error}}
  </div>
</div>
<div *ngIf="domainDetails">
  <p>Domain {{domain}} details:</p>
  <table class="table">
    <thead>
      <tr>
        <td>name</td>
        <td>created</td>
        <td>updated</td>
        <td>expiration</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{domainDetails.name}}</td>
        <td>{{domainDetails.created_date || '-'}}</td>
        <td>{{domainDetails.updated_date || '-'}}</td>
        <td>{{domainDetails.expiration_date || '-'}}</td>
      </tr>
    </tbody>
  </table>
</div>
