<div *ngIf="errors.non_field_errors">
  <div class="alert alert-danger alert-dismissible"
   *ngFor="let err of errors.non_field_errors">
    <button type="button" class="close" (click)="clearErrors()">
      <span>&times;</span>
    </button>
    {{err}}
  </div>
</div>
<div>
  <ul class="list-group">
    <a class="list-group-item"
     *ngFor="let item of items" [ngSwitch]="item.type">
      <div *ngSwitchCase="'domain'"
        (click)="toDomainDetails(item)">
        <span class="glyphicon glyphicon-file">
          {{item.name}}
        </span>
      </div>

      <div *ngSwitchCase="'folder'"
        (click)="toFolder(item)">
        <span class="glyphicon glyphicon-folder-open">
          {{item.name}}
        </span>
      </div>
    </a>
  </ul>
</div>
<div class="row">
  <div class="col-md-4">
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Domain name" #newDomain>
        <button class="btn btn-default" (click)="addDomain(newDomain.value); false;">
          Add Domain
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Folder name" #newFolder>
        <button class="btn btn-default" (click)="addFolder(newFolder.value); false;">
          Add Folder
        </button>
      </div>
    </form>
  </div>
</div>
