<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Domains expiring now
      </div>
	  <ul class="list-group">
		<a class="list-group-item"
		 *ngFor="let domain of expiringNowDomains" (click)="toDomain(domain);">
		  {{domain.name}}
		</a>
	  </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Domains expiring in a month
      </div>
	  <ul class="list-group">
		<a class="list-group-item"
		 *ngFor="let domain of expiringMonthDomains" (click)="toDomain(domain);">
		  {{domain.name}}
		</a>
	  </ul>
    </div>
  </div>
</div>
