<div class="row">
  <div class="alert alert-danger alert-dismissible"
   *ngFor="let err of model.non_field_errors">
    <button type="button" class="close" (click)="clearErrors()">
      <span>&times;</span>
    </button>
    {{err}}
  </div>
  <div class="col-md-4">
    <form class="form" #form="ngForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" required
         [(ngModel)]="model.username">
        <div *ngIf="model.username_errors">
          <p *ngFor="let err of model.username_errors">{{err}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" required
         [(ngModel)]="model.password">
        <div *ngIf="model.password_errors">
          <p *ngFor="let err of model.password_errors">{{err}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email" type="text" name="email" required
         [(ngModel)]="model.email">
        <div *ngIf="model.email_errors">
          <p *ngFor="let err of model.email_errors">{{err}}</p>
        </div>
      </div>

      <button class="btn btn-default" (click)="register()">Register</button>
    </form>
  </div>
</div>
